# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build-StitcherV120-Desktop_Qt_5_10_1_MSVC2015_64bit-Debug/
build-StitcherV120-Desktop_Qt_5_10_1_MinGW_32bit-Debug/
build-StitcherV120-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/
build-StitcherV120-Desktop_Qt_5_10_1_MinGW_32bit-Release/
StitcherV120/StitcherV120.pro.user
